<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiAddress" value="https://localhost:44397/" />
    <add key="ResizedImageWidth" value="220" />
    <add key="ResizedImageHeight" value="220" />
    <add key="CroppedImageWidth" value="120" />
    <add key="CroppedImageHeight" value="120" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>