<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiAddress" value="http://localhost:63032/" /> <!-- LocalHost -->
    <!--<add key="ApiAddress" value="http://localhost:8085/" />--> <!-- LocalIIS -->
    <!--<add key="ApiAddress" value="http://localhost:5000/" />--> <!-- Docker -->
    <add key="ResizedImageWidth" value="220" />
    <add key="ResizedImageHeight" value="220" />
    <add key="CroppedImageWidth" value="120" />
    <add key="CroppedImageHeight" value="120" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>